.delete_form {
    display: inline;
}

.delete_button {
    position: absolute;z-index:101;
    right: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 15px; 
}

.delete_icon {
    font-size: 15px;
    color: #aaaaaa; /* czerwony jak w Bootstrap */
    transition: 0.2s;opacity: 0;
}

.delete_button:hover .delete_icon {
    color: #eae9e9;
    transform: scale(1.1);
    opacity: 1;
}