.like_dislike {
  display: flex;
  align-items:center;
  justify-content:end;
  margin-top: 14px;
  margin-left: 3px;
  width: 99%;
  height: 2vh;

  gap:28px;

}   




.icon-button {
 background: none;      /* usuwa tło */
  border: none;          /* usuwa ramkę */
  padding: 0;            /* usuwa domyślny padding */
  margin: 0;             /* usuwa marginesy */
  cursor: pointer;       /* zmienia kursor na rękę */
  color: #8b8b8b;        /* kolor ikonki */
  font-size: 1.5rem;     /* wielkość ikonki */
  display: inline-flex;  /* dopasowanie do rozmiaru ikony */
  align-items: center;   /* centrowanie ikony */
  justify-content: center; /* centrowanie ikony */

   transition: transform 0.3s ease, color 0.3s ease;
}


.icon-button:hover {
  color: #000000;        /* zmiana koloru ikonki przy najechaniu */

animation: alternate 1s ease forwards;transform: scale(1.2);
}


.icon-button:focus {
  /* zostaw focus dla dostępności */
  outline-offset: 1px;
  
} 


.fa-xmark{

  position:inherit;
margin-right:10px;



  
  height: 2vh;
 font-size: 18px;
}
