
nav{
  width:100px;
  height: auto;
  margin: 10px;
  margin-top:100px;
  margin-right:50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  
}



ul{

  list-style: none;
  margin:0;
  padding: 0;
  
}




 li{
  display: flex;      
     /* Włącza tryb flex dla każdego elementu listy */  
     align-items: baseline; 
     /* Wyrównuje elementy (ikonę i link) do podstawy tekstu */ 
      justify-content: flex-start; 
      /* Upewnia się, że elementy zaczynają się od lewej */ 
       padding: 15px 15px;   /* Odstęp wewnętrzny */ 
        color: white;  
 border: 1px solid transparent;
        line-height: 1;  

}

li a {

  display: flex;
  align-items:safe center;
  justify-content: center; /* jeśli chcesz wyśrodkować w poziomie */
   /* odstęp między ikoną a tekstem */
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
   text-transform: uppercase;
  font-variation-settings: "wdth" 200;
  text-align: center;

  font-size:15px;
  letter-spacing: 0.5px;
  
}

a{

 margin-right:10px auto;

}

span.material-symbols-outlined {
  


  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24;
color:white; 
 font-size:25px; 
 margin:-1px 6px 1px;
}


li:hover {
   background-color: rgba(255, 255, 255, 0.15); /* Semi-transparent white background */
  backdrop-filter: blur(15px); /* Blur the content behind */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Lighter, semi-transparent border */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
  border-radius: 10px;
 


}



@media screen and (max-width: 768px) {

     
  nav{
    display: none;
  }
} 