body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f8fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
/* === Form Container === */
.post_form {
  width: 95%;
 
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

/* === Input field === */
input.tweet {
  flex: 1;
  padding: 12px 16px;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  border:2px solid rgba(0, 0, 0, 0.1);

  outline: none;
  background: rgba(255, 255, 255, 0.8);
  color: #333;
  transition: box-shadow 0.3s ease;
}

input.tweet::placeholder {
  color: #666;
}

/* === Submit Button with Rocket === */
.rocket_launch {
  background-color: 	#cecdcd;
  border: none;
  padding: 12px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  height: 100%;
}

.rocket_launch:hover {
  background-color: #7b7b7b;
  transform: scale(1.05);

}

.material-symbols-outlined {
  font-size: 50px;
}

 .media-upload-button {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* Dodaj tutaj style, aby przycisk wyglądał ładnie, np. padding, border, background */
    padding: 8px;
    border: 1px solid inherit;
    border-radius: 5px;
    background-color: inherit;
  }
